<!DOCTYPE html>
<html>
  <head>
    <title>{{ .Title }}</title>
    <link rel="icon" href="{{ .ImageUrl }}" />
    <link rel="stylesheet" href="/static/style.css" />
  </head>
  <body>
    <header>
      <h1>Portfolio</h1>
    </header>
    <div class="container">
      <div class="profile">
        <img src="{{ .ImageUrl }}" width="200" />
        <h1>{{ .Title }}</h1>
        <p>{{ .Description }}</p>
      </div>
      <div class="links">
        {{ range .Links }}
        <a href="{{ .Url }}">
          <img src="{{ .IconUrl }}" width="20" />
          {{ .Name }}
        </a>
        {{ end }}
      </div>
      <div class="projects">
        <h2>Projects</h2>
        {{ range .Projects }}
        <div class="project">
          <img src="{{ .ImageUrl }}" width="64" />
          <h2>{{ .Name }}</h2>
          <p>{{ .Description }}</p>
          <a href="{{ .Url }}">{{ .Url }}</a>
          <a href="{{ .GitHubRepositoryUrl }}">{{ .GitHubRepositoryUrl }}</a>
          <ul>
            {{ range .Languages }}
            <li>{{ . }}</li>
            {{ end }}
          </ul>
        </div>
        {{ end }}
      </div>
    </div>
  </body>
</html>
