<!DOCTYPE html>
<html>
  <head>
    <title>{{ .Title }}</title>
    <link rel="icon" href="{{ .ImageUrl }}" />
    <link rel="stylesheet" href="/static/style.css" />
  </head>
  <body>
    <div>
      <img src="{{ .ImageUrl }}" width="200" />
      <h1>{{ .Title }}</h1>
      <div>
        <p>{{ .Description }}</p>
      </div>
      <div>
        {{ range .Links }}
        <img src="{{ .IconUrl }}" width="20" />
        <a href="{{ .Url }}">{{ .Name }}</a>
        {{ end }}
      </div>
    </div>
    <h2>Projects</h2>
    <div>
      {{ range .Projects }}
      <div>
        <img src="{{ .ImageUrl }}" width="64" />
        <h2>{{ .Name }}</h2>
        <p>{{ .Description }}</p>
        <a href="{{ .Url }}">{{ .Url }}</a>
        <a href="{{ .GitHubRepositoryUrl }}">{{ .GitHubRepositoryUrl }}</a>
        <ul>
          {{ range .Languages }}
          <li>{{ . }}</li>
          {{ end }}
        </ul>
      </div>
      {{ end }}
    </div>
  </body>
</html>
